    <style> 

    /* Float */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(10, 20, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

    h1 {
      color: rgb(115,73,65);
      font-family: 'Pacifico';
      font-size: 60px;
      padding-bottom: 10px;

    }
    a {
      color: rgb(115,73,65);
    }
    ul {
  text-align: center;
  padding: 10px;
}
li {
  display: inline;
  font-family: 'Pacifico';
   border-radius: 25px;
    border: 2px solid;
    padding: 5px 10px 10px 10px; 
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(110,255,172,0.4);

}
.parallax-container {
  max-height: 300px;
}

h2 {
  font-family: 'Pacifico';
  color:rgb(115,73,65);
  font-size: 100px;
  float: right;
  margin-top: 10px;
}
img {
  border: 2px;
  float: left;
}
img {
  border-style: solid;
  border-radius: 4px

}
p {
  float: right;
}

h2:hover {
  color: rgba(110,255,172,0.4)
}
img:hover {
  border-radius: 40px

}


    </style> 